.analytics-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.analytics-title {
  margin: 0 0 20px 0;
  font-size: 20px;
  text-align: center;
  color: #333;
  font-weight: 600;
  font-size: x-large;
}

.UpperCards {
  background: linear-gradient(90deg, #d6e1ff 15%, #84a7ff 100%) !important;
  min-height: 165px !important;
  display: flex !important;
  flex-direction: column !important;
}
